@media (prefers-color-scheme: light) {
    :root {
        --background-color: #f6f7f9;
        --card-background-color: #fff;
        --font-color: black;
        --card-border-color: #dadce0;
        --link-color: rgb(18 82 165);
        --link-font-weight: 500;
    }
}
