@import 'normalize.css';

.wrapper {
    margin-inline: auto;
    width: 85rem;
    width: clamp(16rem, 90vw, 85rem);
    padding-inline: clamp(1.375rem, 1.2rem + 0.89vw, 2rem);
    position: relative;
}
