<section id="intro" class="wrapper background-sky">
  <div class="hero-logo__row">
    <div class="hero-logo hero-logo__angular"></div>
    <div class="hero-logo hero-logo__wasm"></div>
    <div class="hero-logo hero-logo__rust"></div>
  </div>
  <h1 class="header">
    Angular, WebAssembly and Rust
  </h1>
</section>
<section id="examples" class="wrapper">
  <h2 class="description">
    An enterprise-grade front-end framework enhanced with super-performing Rast-based
    binaries
  </h2>
  <p class="what-to-do">Let's see how they work together with a few examples:</p>
  <div class="cards">
    <a class="card" [routerLink]="['hello']">
      <div class="card__inner">
        <div class="card__description">
          <h3>Hello</h3>
          <p>This is the "Hello, world!" example of #[wasm_bindgen] showing how to set up a project, export a function
            to
            JS,
            call it from JS, and then call the alert function in Rust.</p>
        </div>
        <figure class="card__image card__image--hello"></figure>
      </div>
    </a>
    <a class="card" [routerLink]="['console_log']">
      <div class="card__inner">
        <div class="card__description">
          <h3>console.log</h3>
          <p>This example shows off how to use console.log in a variety of ways, all the way from bare-bones usage to a
            println!-like macro with web_sys.</p>
        </div>
        <figure class="card__image card__image--console_log"></figure>
      </div>
    </a>
    <a class="card" [routerLink]="['julia']">
      <div class="card__inner">
        <div class="card__description">
          <h3>Julia</h3>
          <p>Julia set in <a href="https://en.wikipedia.org/wiki/Julia_set">wikipedia</a></p>
        </div>
        <figure class="card__image card__image--julia"></figure>
      </div>
    </a>
  </div>
</section>
