.hero-logo__row {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.hero-logo {
    height: 150px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-logo__angular {
    background-image: url(/assets/shield-large.svg);
}

.hero-logo__wasm {
    background-image: url(/assets/WebAssembly_Logo.svg);
}

.hero-logo__rust {
    background-image: url(/assets/Rust_programming_language_black_logo.svg.png);
}

.description {
    text-align: center;
}

.cards {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.header {
    text-align: center;
}

.what-to-do {
    text-align: center;
    font-size: 1.17em;;
}

.card__description {
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.card__image {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    margin-inline-start: 1rem;
    margin-inline-end: 1rem;
}

.card__image--julia {
    width: 180px;
    height: 180px;
    background-image: url(/assets/julia-180-180.png);
}

.card__image--console_log {
    width: 180px;
    height: 180px;
    background-image: url(/assets/console_log.png);
}

.card__image--hello {
    width: 180px;
    height: 180px;
    background-image: url(/assets/hello_180-180.png);
}
